.header-v6 .navbar-brand {
    padding: 3px;
}

.footer-v1 a {
    color: #72c02c;
    text-decoration: none;
}

.footer-v1  a:hover, a:focus {
    color: #72c02c;
     text-decoration: underline;
}

.classic-overland.sky-form fieldset {
     padding: 5px 20px 5px 20px;
}

.classic-overland.sky-form  section {
    margin-bottom: 5px;
}

.classic-overland.sky-form .input input,
.classic-overland.sky-form .select select,
.classic-overland.sky-form .textarea textarea,
.classic-overland.sky-form .radio i,
.classic-overland.sky-form .checkbox i,
.classic-overland.sky-form .toggle i,
.classic-overland.sky-form .icon-append,
.classic-overland.sky-form .icon-prepend {
    border-color: #72c02c;
}

.sky-form .col-12 {
    width: 100%;
}

.classic-overland.sky-form .textarea textarea {
    resize: vertical;
}

.classic-overland.sky-form .label {
    color: #D96038;
}

.blockquote.bq-text-lg.classic-overland p {
    font-size: 65%;
    font-weight: 300;
    line-height: 40px;
    text-transform: inherit;
    color: #777;
}
/*section.section-who-we-are,*/
/*section.section-what-we-do { margin-top: 0px}*/

/*Slides*/
.rs-caption-4 {
    /*color: #fff;*/
    font-size: 30px;
    font-weight: 200;
    padding: 6px 75px;
    position: relative;
    /*border-top: solid 1px #fff;*/
    /*border-bottom: solid 1px #fff;*/
}

/*.rs-caption-4:after,*/
/*.rs-caption-4:before {*/
    /*font-size: 16px;*/
    /*content: "\f005";*/
    /*position: absolute;*/
    /*font-family: FontAwesome;*/
/*}*/

@media (max-width: 768px) {
    .rs-caption-1:after,
    .rs-caption-1:before {
        content: "";
    }
}

/*.rs-caption-1:after {*/
    /*right: 4%;*/
/*}*/

/*.rs-caption-1:before {*/
    /*left: 4%;*/
/*}*/
